# Loki
LOKI_PORT=3100
LOKI_CPU_LIMIT=1.0
LOKI_CPU_RESERVE=0.25
LOKI_MEM_LIMIT=512M
LOKI_MEM_RESERVE=256M

# Grafana
GRAFANA_PORT=3000
GRAFANA_CPU_LIMIT=1.0
GRAFANA_CPU_RESERVE=0.25
GRAFANA_MEM_LIMIT=512M
GRAFANA_MEM_RESERVE=256M

# Promtail
PROMTAIL_CPU_LIMIT=0.5
PROMTAIL_CPU_RESERVE=0.1
PROMTAIL_MEM_LIMIT=256M
PROMTAIL_MEM_RESERVE=128M
